<div class="tech-btm">
    <h4>Subscribe to Newsletter</h4>
    <p>Follow our posts with e-mail!!</p>
    <form id="subForm" method="post">
        <input type="email" placeholder="Mail" name="Mail" required="" />
        <input type="submit" id="btn" value="subscribe" onclick="MailSave()" />
    </form>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function MailSave() {

        var data = $("#subForm").serialize();
        $.ajax({
            type: "post",
            url: "/NewsLetter/SubscribeMail/",
            data: data,
            success: function (result) {
                swal("Good job!");
                setTimeout(3000);
            }
        })
    }

</script>