<div class="tech-btm">
    <h4>Subscribe to Newsletter</h4>
    <p>Follow our posts with e-mail!!</p>
    <form action="/NewsLetter/SubscribeMail/" method="post">
        <input type="email" placeholder="Mail" name="Mail" required="" />
        <input type="submit" value="subscribe" />
    </form>
</div>
