
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>Burası kendi oluşturduğumuz view sayfası</h3>

<table class="table-bordered" style="width:100%;">
<tr>
    <th>ID</th>
    <th>Ad</th>
    <th>Departman</th>
</tr>
    <tr>
    <td>1</td>
    <td>Kaan</td>
    <td>Core Developer</td>
</tr>
 <tr>
    <td>2</td>
    <td>Ali</td>
    <td>Alo</td>
</tr>
</table>

